:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff99;
  --accent-color: #2196f3;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.site-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
span {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*-----------------шапка сайта--------------*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  background-color: var(--main-title-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.site-logo {
  display: flex;
  margin-right: 95px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-info {
  margin-left: auto;
}

.header-mail {
  margin-right: 50px;
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/*------------Oсновной контент----------*/

.hero {
  min-width: 1600px;
  height: 600px;
  padding-top: 200px;
  background-color: #2f303a;
}

.hero-conteiner {
  display: block;
}

.title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
}

.center-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: var(--accent-color);
  margin: 0 auto;
  border: none;
}

/*---------------наши преимущества-----------------*/

.our-advantages {
  background-color: var(--main-title-color);
}

.advantages-conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 95px;
  margin-bottom: 95px;
}

.advantages-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-right: -30px;
}

.advantages-list > .advantages-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*---------------наши навыки-----------------*/

.our-skills {
  background-color: var(--main-title-color);
}

.skills-conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 95px;
}

.skills-list {
  display: flex;
}

.skills-item {
  margin-right: 30px;
}

.skills-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

/*-----------наша команда----------*/
.our-team {
  background: #f5f4fa;
  padding-top: 95px;
}

.team-conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-right: -30px;
}

.team-list > .item {
  background-color: #fff;
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  box-shadow: 0px 2px 1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 1px 3px rgb(0 0 0 / 12%);
  margin-bottom: 95px;
  border-radius: 0px 0px 4px 4px;
  margin-top: 50px;
}

.team-title {
  display: block;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.tech-skill {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 30px;
}

/*-----------------подвал сайта------------------*/

.footer {
  background-color: #2f303a;
}

.footer-conteiner {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-site-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.address-list {
  padding-top: 20px;
}

.mail {
  padding-top: 10px;
  padding-bottom: 10px;
}

.addres-city {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.addres-city:hover,
.addres-city:focus {
  color: var(--accent-color);
}

.address-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/*--------------портфолио-----------------*/

.portfolio {
  background-color: var(--main-title-color);
}

.filter-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}

.title-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.filter {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
